<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Base css, but you'll likely want to keep them -->
    <link rel="stylesheet" href="../css/reset.css" type="text/css">

   
    <script src="../js/ngi.polyfill.min.js"></script>
    <script src="../GMLIB/system.js"></script>
    <script src="../GMLIB/info.js"></script>

    <script src="../js/ex/jquery.js" type="text/javascript"></script>
    <script src="../js/ex/easing.js" type="text/javascript"></script>
    <script src="../js/ex/TweenMax.js" type="text/javascript"></script>
    <script src="../js/ex/devpart.js" type="text/javascript"></script>


 <!-- Your custom files -->
    <link rel="stylesheet" href="../css/app.css" type="text/css">
    <link rel="stylesheet" href="../css/car.css" type="text/css">
    
    <!-- <script src="GMLIB/voice.js"></script> -->

  </head>
  <body>
    <div id="wrapper">
      <div id="close"><img src="../images/close.png" onclick="closeCar()" alt="close"></div>
      <div id="maine" class="bg a" > 
        <div class="classleft">
          
          <table class="table">
                  <tbody>
                    <tr >
                      <td>pneu </td><td id="p1"></td><td> kPaG </td>
                    </tr>
                  </tbody>
          </table>
          <table class="table botup">
                  <tbody>
                    <tr class="">
                      <td>pneu </td><td id="p2">12</td><td>kPaG</td>
                    </tr>
                  </tbody>
                </table>
        </div>    
          <div class="voiture">
            <div class="corp">
              <div class="black"></div>
              <div class="redtop"></div>
              <div class="bar" ></div>
              <div class="bar1" ></div>
              <div class="bar2" ></div>
              <div class="bar3" ></div>
              <div class="azs"></div>
              <div class="azd"></div>
              <div class="lighttopleft light"></div>
              <div class="lighttopright light"></div>
              <div class="lightbottomleft light "></div>
              <div class="lightbottomright light"></div>
              <div class="azq"></div>
              <div class="azw"></div>
              <div class="topblack"></div>
              <div class="porte1">
                <div class="point lf"></div>
              </div>
              <div class="porte2">
                <div class="point rgh"></div>
              </div>
              <div class="porte3">
                <div class="point lf"></div>
              </div>
              <div class="porte4">
                <div class="point rgh"></div>
              </div>
              <div class="sup1 sup"></div>
              <div class="sup2 sup"></div>
              <div class="sup3 sup"></div>
              <div class="sup4 sup"></div>
              <div class="mer1"></div>
              <div class="mer2"></div>
              <div class="style"></div>
              <div class="style2"></div>
              <div class="trapez trapez1"></div>
              <div class="trapez trapez2"></div>
              <div class="trapez trapez3"></div>
              <div class="trapez trapez4"></div>
              <div class="wipers"></div>
              <div class="cyrcle"></div>
              <div class="wipers1"></div>
              <div class="cyrcle1"></div>
              <div class="divbot"></div>
            </div>
              <div id="cercle" class="C1"></div>
              <div id="cercle" class="C2"></div>
              <div id="cercle" class="C3"></div>
              <div id="cercle" class="C4"></div>
            
          </div>
          <div class="classright">
            <table class="table">
                  <tbody>
                    <tr>
                      <td>pneu </td><td id="p3">12</td><td>kPaG</td>
                    </tr>
                    </tbody>
                </table>
                    <table class="botup">
                  <tbody>
                    <tr>
                      <td>pneu </td><td id="p4">12</td><td>kPaG</td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
    </div>

    <!-- Your app code: -->
    <script src="../js/app.js"></script>
     <script src="../js/car.js"></script>
     <script src="../js/light.js"></script>
     <script src="../js/wipers.js"></script>
  </body>
</html>
