<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Places Searchbox</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Base css, but you'll likely want to keep them -->
    <link rel="stylesheet" href="../css/reset.css" type="text/css">

    <link rel="stylesheet" href="../css/came.css" type="text/css">
    <link rel="stylesheet" href="../css/DerectionA.css" type="text/css">
   
    <script src="../js/ngi.polyfill.min.js"></script>
    <script src="../GMLIB/system.js"></script>
    <script src="../GMLIB/info.js"></script>
     

 <!-- Your custom files -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <div id="wrapper">
      <div id="close"><img src="../images/close.png" onclick="closeDerection()" alt="close"></div>
      <div id="main" >  

<div class="container">
             </div> <!-- Wrapper -->
       <!-------- CODE FOR GOOGLE MAP ---------->
<style>
    #map_canvas {
        border-radius:7px;
        background-color:#CCC;
    }
</style>
<!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEjyUL7YzLcopYkF6nNYq8QTBlTskNIDg&libraries=places&sensor=false"></script>

<!---------END FOR GOOGLE MAP--------------->


     <div class="wrapper">
    
      <!-- Topic Header -->
      <div class="map_container" >
          
          
          
                        
            <div id="map-canvas" > 
            
            </div>

      </div>
     </div>
    </div>
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="../js/Derection.js"></script>
  </body>
</html>