<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Base css, but you'll likely want to keep them -->
    <link rel="stylesheet" href="../css/reset.css" type="text/css">

 <!-- Your custom files -->
    <link rel="stylesheet" href="../css/app.css" type="text/css">
    <link rel="stylesheet" href="../css/came.css" type="text/css">
    <link rel="stylesheet" href="../css/auto.css" type="text/css">
    

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
  
    <script src="../js/ngi.polyfill.min.js"></script>
    <script src="../GMLIB/system.js"></script>
    <script src="../GMLIB/info.js"></script>

    <script src="../js/ex/easing.js" type="text/javascript"></script>
    <script src="../js/ex/TweenMax.js" type="text/javascript"></script>
    <script src="../js/ex/devpart.js" type="text/javascript"></script>



  </head>
  <body>
    <div id="wrapper">
      <div id="close"><img src="../images/close.png" onclick="quitepred()" alt="close"></div>
      <div id="maine" class="bg a" >     
     <!--  -->          
                              <div class="affichage" id="affichage">
                                
                              </div>          
                          <div class="country-wrap">

                
                
                
                <div class="grass"></div>
                <div class="street">
                  <div class="car">
                  <!--<div class="car-base"></div>-->
                  <div class="car-body">
                    <div class="car-top-back">
                      <div class="back-curve"></div>
                    </div>
                    <div class="car-gate"></div>
                    <div class="car-top-front">
                      <div class="wind-sheild"></div>
                    </div>
                    <div class="bonet-front"></div>
                    <div class="stepney"></div>
                  </div>
                  <div class="boundary-tyre-cover">
                    <div class="boundary-tyre-cover-back-bottom"></div>
                    <div class="boundary-tyre-cover-inner"></div> 
                  </div>
                  <div class="tyre-cover-front">
                    <div class="boundary-tyre-cover-inner-front"></div>
                  </div>
                  <div class="base-axcel">
                    
                  </div>
                  <div class="front-bumper"></div>
                  <div class="tyre">    
                    <div class="gap"></div> 
                  </div>
                  <div class="tyre front">
                    <div class="gap"></div> 
                  </div>
                  <div class="car-shadow"></div>
                </div>
                </div>
                <div class="street-stripe"></div>
                
                
              </div>



    <!-- -->
      </div>
    </div>

    <!-- Your app code: -->
    <script src="../js/predectSpeed.js"></script>
  </body>
</html>
